
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-image: url("../img/fondo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 650px;
    box-sizing: border-box;
    text-decoration: none;
    align-content: center;

}

.parent {
  display:flexbox;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  
  }
  
  .div1 { 
    background-color: rgba(3, 41, 3, 0.902);
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 360px ;

  }
  
  img  {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height:250px;
    padding:10px ;
    margin-top: 40px;
    
    

  } 
  
  .div2 { grid-area: 2 ;
    
    display: flex;
    height:auto;
    background-color: rgba(3, 41, 3, 0.902);
    color: beige;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    
  
  }
   
  .div2 input{
    margin-top: 30px;
    width: 300px;
    height:50px ;
    text-align: center;
    font-size: 30px;
  }
  
#btn_validar{
  height: 55px;
  background-color: rgb(5, 161, 24);
  color: antiquewhite;

}
 #btn_validar:hover{
  box-shadow: 0 0 25px #28a103;
 }

  .div2 button{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    width: 150px;
    height: 75px;
    background-color: rgb(191, 201, 8);
    color: rgb(7, 7, 7);
    border-style: none;
    font-size: 15px;
    
  }

  
  .div2 button:hover{
  color: #040404;
  background-color: #ffb310;
  box-shadow: 0 0 25px #aee301;
  text-shadow: 0 0 15px #060606;
  animation-delay: 0.5s;
  }

.estilo_parrafo {
  background-color: brown;
  font-size: 24px;
  text-align: center;
  color:bisque;
  padding-top:15px ;
  padding-bottom: 15px;


}

.bienvenido {
  background-color: rgba(2, 51, 2, 0.877);
  font-size: 35px;
  text-align: center;
  color:bisque;
  padding-top:15px ;
  padding-bottom: 15px;
}

a {
  background-color: rgba(2, 51, 2, 0.877);
  margin-left: 750px;
  text-decoration: none;
  color:rgb(248, 246, 246);
  font-size: 35px;
}

.cabecera {
  margin-top: 150px;
  margin-left: 30px;
  padding-left: 30px;
  text-align: center;
}
p {
  margin-left: 60PX;
  color: antiquewhite;
  font-weight: bold;
  font-family: Verdana
}
.contenedor{
  display: flex;
  flex-direction: row;
  row-gap: 15 px;
  margin-left: 30PX;
  width:fit-content;
  height:max-content;
}

#super{

  background-color: rgb(2, 78, 20);
}

#premium{

  
  background-color: rgb(149, 231, 77);
}

#biodiesel{

  background-color: #ffb310;
}

.table{
  margin-left: 30px;
  background-color: rgba(28, 47, 21, 0.925);
  align-content: center;
  width: 120px;
  

}
.table th {
  color: aliceblue;
  width: 120px ;
}

.table tr{
  color: aliceblue;
}
td{
  width: 120px;
}