
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-image: url("../img/fondo.jpg");
    background-size:cover;
    background-repeat: repeat;
    min-height: 100%;
    height: 650px;
    box-sizing: border-box;
    text-decoration: none;
    align-content: center;

}




.parent {
  display : flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  
  }

#alerta{
  height: 100px;
}



  .div1 { 
    background-color: rgba(3, 41, 3, 0.902);
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 360px ;

  }
  
  img  {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height:250px;
    padding:10px ;
    margin-top: 40px;
    
    

  } 
  
  .div2 { grid-area: 2 ;
    
    display: flex;
    height:auto;
    background-color: rgba(3, 41, 3, 0.902);
    color: beige;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    
  
  }
   
  .div2 input{
    margin-top: 30px;
    width: 300px;
    height:50px ;
    text-align: center;
    font-size: 30px;
  }
  
#btn_validar{
  height: 55px;
  background-color: #239430;
  color:antiquewhite;

}
 #btn_validar:hover{
  box-shadow: 0 0 25px #28a103;
 }

  .div2 button{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    width: 150px;
    height: 75px;
    background-color: rgb(191, 201, 8);
    color: rgb(7, 7, 7);
    border-style: none;
    font-size: 15px;
    
  }

  
  .div2 button:hover{
  color: #040404;
  background-color: #ffb310;
  box-shadow: 0 0 25px #aee301;
  text-shadow: 0 0 15px #060606;
  animation-delay: 0.5s;
  }

.estilo_parrafo {
  background-color: brown;
  font-size: 24px;
  width: 90%;
  text-align: center;
  color:bisque;
  padding-top:25px ;
  padding-bottom: 15px;


}

#mensaje{
  display: flex;
  height: 150px ;
  justify-content: center;
  


}

.bienvenido {
  background-color: rgba(2, 51, 2, 0);
  font-size: 35px;
  text-align: center;
  color:bisque;
  padding-top:15px ;
  padding-bottom: 15px;
}

.puntos {
  font-size: 30px;
  color: gold;
}

.user{
  font-size: 25px;
  margin-bottom: 20px;
}



a {
  background-color: #ffb310 ;
  font-size: 22px;
}



p {
  margin-left: 60PX;
  color: antiquewhite;
  font-weight: bold;
  font-family: Verdana;
}

.cabecera{
  height: 100px;
  color: aliceblue;
  justify-content: center;
} 


.cabecera h1 {
 
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size:42px ;
  background-color: #060606;

  



}
.usuario{
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffb310;
}

.puntaje{
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffb310;
}

.premios{
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ec6511;
}

.contenedor {
  
  padding: 25px;
  display: flex;
  margin-bottom: 40px;
}


.card-group{
  display: flex;
  justify-content:space-around;
  margin-bottom: 50px;
  margin-top: 50px;
  
}


#super{
justify-content: space-around;
background-color: rgb(2, 78, 20);
max-width: 400px;
margin-left: 50px;
padding: 6px 12px;
}

#premium{

  justify-content: space-around;
  background-color: rgb(149, 231, 77);
  max-width: 400px;
  margin-left: 50px;

  padding: 6px 12px;
}

#biodiesel{
  justify-content: space-around;
  background-color: #ffb310;
  max-width: 400px;
  margin-left: 50px;
  margin-right:50px ;
}


#tabla {
  margin: 0 auto;
}


.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  background-color: rgba(28, 47, 21, 0.925);
  width: 800px;

}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


thead {
  margin-right: 150px;
  
}
#tbody{
  margin-left: 100px;
  justify-content: space-around;
}

.table th {
  
 
  color: aliceblue;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.table tr {
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  


 
}
td{
  
  display: flex;
  padding: 35px;
  align-items: center;
  margin-right: 160px;
  justify-content: center;


}
  


.card_footer{
  margin-top: 40px;
  text-align: center;
}

.card_footer input {

  background-color: #060606;
  color: aliceblue;
  width:200px;
  height:50px ;
  border-radius: 30px;
}


#total_puntos{
  height: 100px;
}

.resultado{
  color:darkorange;
  font-size: 20px;
}


#info {
  height: 250px;
  background-color: rgb(3, 3, 3);
  color: rgb(233, 249, 8);
  justify-content: center;
  
}




.footer{
  display: flex;
  margin-top: 50px;
  height: 300px;
  width:1176.px;
  justify-content: space-around;
  background-color: #03540fbd;
  box-sizing: border-box;
}

.swal2-popup{

background-color: #ffb310;;
color:#040404;
height: 300px;

}

iframe {

  width: 400px;
  margin-left: auto;
  
  


}

button { background-color: #ffb310;}

#clima {
  display: flex;
  height: 170px;
  text-align: center;
  margin-top: 10px;
  background-color: #ffb31098;
  justify-content: center; 
}
.clima{
  font-size: 22px;
  color:#000000;

}